<%- include('./layout/header.ejs') %>
<%# контент %> 
<div class="my-castom-container">
  Description

</div>
  <%# стили  %> 
  <link rel="stylesheet" href="/styles/desc.css">
<%- include('./layout/footer.ejs') %> 