<%- include('./layout/header.ejs') %> 
<div class="my-castom-container">
  <%# контент %>
  <div>Hello World</div>
  

</div>
  <%# стили  %> 
  <link rel="stylesheet" href="/styles/index.css">
<%- include('./layout/footer.ejs') %> 