<div class="my-castom-container">
  <%# контент %>
  <div class="imgNotFound"></div>
</div>
  <%# стили  %> 
  <link rel="stylesheet" href="/styles/normolize.css">
  <link rel="stylesheet" href="/styles/notFound.css">