<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/normolize.css">
  <link rel="stylesheet" href="/styles/settings.css">
  <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
  <header class="header">
    <div class="header__wrapp">
      <ul class="nav">
        <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="/home/desc" class="nav__link">Description</a></li>
        <li class="nav__item"><a href="/home/about" class="nav__link">About</a></li>
      </ul>
    </div>
  </header>